name: Go tester

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Set up Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download Modules
        run: go mod download

      - name: Test
        run: |
            go vet ./...
            go test -v ./...

      - name: Run version command
        run: |
          appVersion=1.0.0
          appBuildTime=$(TZ=Asia/Shanghai date "+%F %T GMT%:z")
          appGitCommitHash=$(git rev-parse HEAD)
          appModuleName=github.com/${GITHUB_REPOSITORY}
          buildLdFlags="-X '${appModuleName}/cmd.appBuildTime=${appBuildTime}'"
          buildLdFlags="${buildLdFlags} -X ${appModuleName}/cmd.appGitCommitHash=${appGitCommitHash}"
          go run -ldflags "${buildLdFlags}" . version --full
