name: Go tester

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Set up Cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ env.GOROOT }}/bin/golint
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download Modules
        run: go mod download -json

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.4

      - name: Test
        run: |
          go get -u golang.org/x/lint/golint
          golint ./...
          go vet ./...
          go test -v ./...

      - name: Run version command
        run: |
          make appVersion=1.0.0
          chmod +x ./forumx
          ./forumx version --full
